* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


figure{
    background-size: cover;
    border-radius: 15%;

}
#fig01{
    background-image: url("/imagens/conjunto/conjunto1.jpg");
    
    
}

#fig01:hover{
    background-image: url("/imagens/conjunto/conjunto1-2.jpg");
    
}

#fig02{
    background-image: url("/imagens/conjunto/conjunto2.jpg");
    
}

#fig02:hover{
    background-image: url("/imagens/conjunto/conjunto2-2.jpg");

}

#fig03{
    background-image: url("/imagens/conjunto/conjunto3.webp");

}

#fig03:hover{
    background-image: url("/imagens/conjunto/conjunto3-2.webp");

}

#fig04{
    background-image: url("/imagens/conjunto/conjunto4.jpg");
    
}

#fig04:hover{
    background-image: url("/imagens/conjunto/conjunto4-2.jpg");

}
#fig05{
    background-image: url("/imagens/conjunto/conjunto5.jpg");
    
}

#fig05:hover{
    background-image: url("/imagens/conjunto/conjunto5-2.jpg");

}

#fig06{
    background-image: url("/imagens/conjunto/conjunto6.jpg");
    
}

#fig06:hover{
    background-image: url("/imagens/conjunto/conjunto6-2.jpg");

}

#fig07{
    background-image: url("/imagens/conjunto/conjunto7.jpg");
    
}

#fig07:hover{
    background-image: url("/imagens/conjunto/conjunto7-2.jpg");
}

#fig08{
    background-image: url("/imagens/conjunto/conjunto8.jpg");
    
}

#fig08:hover{
    background-image: url("/imagens/conjunto/conjunto8-2.jpg");

}

#fig09{
    background-image: url("/imagens/conjunto/conjunto9.webp");
    
}

#fig09:hover{
    background-image: url("/imagens/conjunto/conjunto9-2.webp");

}

#fig10{
    background-image: url("/imagens/conjunto/conjunto10.jpg");
    
}

#fig10:hover{
    background-image: url("/imagens/conjunto/conjunto10-2.jpg");

}

