* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



.card{
    display: inline-flex;
    flex-direction: column;
    height: 380px;
    width: 200px;
    margin: 1% 1%;
    padding: 5px;
}

.produto_item{
    display: inline;
    height: 100%;
    width: 100%;
    margin-bottom: 5px;

}

.produto_item img {
    background: url(/imagens/240_F_560784648_N24pl795Hy2sYJNpU2zsIKhk1I2jLFEP.jpg);
    max-width: 190px;
    height: 270px;
    width: auto;
    border-radius: 10%;
}


.preco{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, serif;
    align-items: center;
    padding: 10px;
}



.color{
    height: 20px;
    width: 10vh;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.vermelho{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    padding-top: 5px;
    
}

.amarelo{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #d9ff00;
    
}
.branco{
    width: 15px;
    height: 15px;
    border:  solid 1px #000;
    border-radius: 50%;
    background-color: #fff;
    
}

.rosa_claro{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #f1beea;
    
}


p span#coracao:hover {
    color: red;
}

#titulo-carrinho {
    background-color: antiquewhite;
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
}
.conteudo-carrinho {
    display: flex;
    padding: 0 30px;
}   
.valores{
        flex: 1;
    }
    
.compras {
        background: antiquewhite;
        min-width: 400px;
    }
table{
    width: 100%;
    border-collapse: collapse;
 
    }
thead tr{
    text-align: left;
    border-bottom: 3px solid #eee;
    }
thead tr th{
        padding-bottom: 10px;
        text-transform: uppercase;
        font-size: 10px;
    }
tbody tr td{
    padding: 20px 0;
}

.carrinho{
    background-color: #f3e6fb;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    width: 80%;
}


aside.box-dois{
    background: #fff;
}
aside .box{
    margin-bottom: 15px;
    border: 1px solid #eee;
    background-color: #f3e6fb;

}
aside >button{
background-color: rgb(168, 29, 168);
display: block;
width: 100%;
border: 0;
padding: 15px;
text-transform: uppercase;
letter-spacing: 1px;
}

.sub-total{
    padding: 30px;
    font-size: 20px;
    border-bottom: 3px solid #eee;
    text-align: center;
}
.resumo{
    padding: 20px;
    >div{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        
    }
    
}

.cupom{
    color: #9024d3;
    background: transparent;
    border: 0;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.total{
    padding: 20px;
    background-color: #dcb3f5;
    font-size: 20px;
}