* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.produto_item{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    width: 250px;
    gap: 0.5rem;
    margin: 3px auto;
    

}


.nome{
    font-size: medium;
    font-weight: bold;
    justify-content: center;
    height: 30px;
    padding-top: 7px;
    
}

.container-produto{
    max-width: 1200px;
    width: 90%;
    display: flex;
}
.produto_item img {
    width: 240px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid #000;
}


.caixa{
    background-color: #f1ddf6b6;
    border-radius: 10px;
}
.preco{
    display: flex;
    font-weight: bold;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, serif;
    width: 80%;
    height: 25px;
}


#descricao{
    padding: 0 20px;
    display: flex;
    flex-direction: column;

}

.titulo{
    font-size: 25px;
}

#descricao p{
    margin: 0.3em 0;
}

#tamanhos{
    width: 200px;
    padding-bottom: 10px;
}
.color{
    height: 20px;
    width: 10vh;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.vermelho{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    padding-top: 5px;
    
}

.amarelo{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #d9ff00;
    
}
.branco{
    width: 15px;
    height: 15px;
    border:  solid 1px #000;
    border-radius: 50%;
    background-color: #fff;
    
}

.rosa_claro{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #f1beea;
    
}


#div-modal{
    display: none;
}

#div-modal.active{
   display:block;
   
}

.modal{
    position: absolute;
    width: 700px;
    height: 500px;
    top: 20%;
    left: 25%;
    background-color: #fff;
    border-radius: 4%;
    
}

.modal-content{
    display: flex;
    position: absolute;
    top: 10px;
    margin: 0 auto;
    margin-top: 5%;
    max-width: 600px;
    padding: 0px;
    height: 300px;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}


.modal-opcoes{
    max-width: 600px;
    margin: 5%

}

.modal-content, .modal-opcoes{
    padding: 10px;
}

.fechar{
    cursor: pointer;
    position: relative;
    top: 30px;
    left: 20px;
    width: 150px;
    height: 35px;
    background-color: rgb(118, 17, 136);
    color: white;
    border-radius: 10px;
    
}


.adCarrinho{
    cursor: pointer;
    position: relative;
    top: 30px;
    left: 100px;
    height: 35px;
    width: 150px;
    background-color: rgb(118, 17, 136);
    color: white;
    border-radius: 10px;
}
.abrir{
    cursor: pointer;
    width: 100px;
    height: 25px;

}

.imagem img{
    width: 200px;
    height: 300px;
}

.modal-opcoes{
    position: absolute;
    bottom: 10px;
}