* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#fig01{
    background-image: url("/imagens/blusa/blusa1.webp");
    background-size: cover;
    border-radius: 15%;
    
}

#fig01:hover{
    background-image: url("/imagens/blusa/blusa1-2.webp");
    background-size: cover;
}

#fig02{
    background-image: url("/imagens/blusa/blusa2.webp");
    background-size: cover;
    
}

#fig02:hover{
    background-image: url("/imagens/blusa/blusa2-2.jpg");
    background-size: cover;
}

#fig03{
    background-image: url("/imagens/blusa/blusa3.webp");
    background-size: cover;
    
}

#fig03:hover{
    background-image: url("/imagens/blusa/blusa3-2.webp");
    background-size: cover;
}

#fig04{
    background-image: url("/imagens/blusa/blusa4.webp");
    background-size: cover;
    
}

#fig04:hover{
    background-image: url("/imagens/blusa/blusa4-2.webp");
    background-size: cover;
}
#fig05{
    background-image: url("/imagens/blusa/blusa5.webp");
    background-size: cover;
    border-radius: 15%;
    
}

#fig05:hover{
    background-image: url("/imagens/blusa/blusa5-2.webp");
    background-size: cover;
}

#fig06{
    background-image: url("/imagens/blusa/blusa6.webp");
    background-size: cover;
    
}

#fig06:hover{
    background-image: url("/imagens/blusa/blusa6-2.webp");
    background-size: cover;
}

#fig07{
    background-image: url("/imagens/blusa/blusa7.webp");
    background-size: cover;
    
}

#fig07:hover{
    background-image: url("/imagens/blusa/blusa7-2.jpg");
    background-size: cover;
}

#fig08{
    background-image: url("/imagens/blusa/blusa8.webp");
    background-size: cover;
    
}

#fig08:hover{
    background-image: url("/imagens/blusa/blusa8-2.webp");
    background-size: cover;
}

#fig09{
    background-image: url("/imagens/blusa/blusa9.webp");
    background-size: cover;
    
}

#fig09:hover{
    background-image: url("/imagens/blusa/blusa9-2.jpg");
    background-size: cover;
}

#fig10{
    background-image: url("/imagens/blusa/blusa10.jpg");
    background-size: cover;
    
}

#fig10:hover{
    background-image: url("/imagens/blusa/blusa10-2.webp");
    background-size: cover;
}

#fig11{
    background-image: url("/imagens/blusa/blusa11.webp");
    background-size: cover;
    
}

#fig11:hover{
    background-image: url("/imagens/blusa/blusa11-2.webp");
    background-size: cover;
}