* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



.card{
    display: inline-flex;
    flex-direction: column;
    height: 380px;
    width: 200px;
    margin: 1% 1%;
    padding: 5px;
}

.produto_item{
    display: inline;
    height: 100%;
    width: 100%;
    margin-bottom: 5px;

}

.produto_item img {
    background: url(/imagens/240_F_560784648_N24pl795Hy2sYJNpU2zsIKhk1I2jLFEP.jpg);
    max-width: 190px;
    height: 270px;
    width: auto;
    border-radius: 10%;
}


.preco{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, serif;
    align-items: center;
    padding: 10px;
}



.color{
    height: 20px;
    width: 10vh;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.vermelho{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    padding-top: 5px;
    
}

.amarelo{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #d9ff00;
    
}
.branco{
    width: 15px;
    height: 15px;
    border:  solid 1px #000;
    border-radius: 50%;
    background-color: #fff;
    
}

.rosa_claro{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #f1beea;
    
}


p span#coracao:hover {
    color: red;
}

.btn_carrinho {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    margin: 0 10px;
    width: 90%;
    height: 30px;
    background-color: rgb(238, 175, 130);

}

.carrinho{
    background-color: #f3e6fb;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    width: 80%;
}
