
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.produto_item{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    width: 250px;
    gap: 0.5rem;
    margin: 3px auto;
    

}

.altura{
    max-width: 1200px;
    width: 1100px;
    margin-top: 190px;
}

.nome{
    font-size: medium;
    font-weight: bold;
    justify-content: center;
    height: 30px;
    padding-top: 7px;
    
}

.container-produto{
    max-width: 1200px;
    width: 90%;
    display: flex;
}
.produto_item img {
    width: 240px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid #000;
}

/*
.caixa{
    background-color: #f1ddf6b6;
    border-radius: 10px;
}/*/
.preco{
    display: flex;
    font-weight: bold;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, serif;
    width: 80%;
    height: 25px;
}


.descricao{
    display: flex;
    margin: 0 15px;
    flex-direction: column;
    gap: 0.5em;

}


.info-prod-car{
    display: flex;
    flex-flow: wrap;
    height: 100%;
    align-items: center;
    gap:3em;

}
.caixa{
    background-color: #f3e6fb;

}
.titulo{
    font-size: 25px;
}


#medida{
    width: 100%;

}

#sumario{
    
}
#tamanhos{
    width: 200px;
    padding-bottom: 10px;
}
.color{
    height: 20px;
    width: 10vh;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.vermelho{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    padding-top: 5px;
    
}

.amarelo{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #d9ff00;
    
}
.branco{
    width: 15px;
    height: 15px;
    border:  solid 1px #000;
    border-radius: 50%;
    background-color: #fff;
    
}

.rosa_claro{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #f1beea;
    
}



#carrinho{
    margin: 20px auto;
    max-width: 1200px;
    width: 900px;
    height: 100vh;
}


.item-carrinho{
    display: flex;
    padding: 5px;
    gap: 2em;
    justify-content: space-between;
}
.item-carrinho .img-car{
    width: 50px;
    height: 70px;
}

.unidades{
    display: flex;
    align-items: center;
}

.botaoMenos, .botaoMais, .numero{
    width: 30px;
}

.center {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
  
  
  .caixa {
    border-radius: 0.5em;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  

  
  }
  
  


.abrir{
    cursor: pointer;
    width: 100px;
    height: 25px;

}

.imagem img{
    width: 200px;
    height: 300px;
}

/*estilo do carrinho*/
