* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

figure {
    border-radius: 15%;
    background-size: cover;
}
#fig01{
    background-image: url("/imagens/macacao/macacao1.webp");    
    
}

#fig01:hover{
    background-image: url("/imagens/macacao/macacao1-2.jpg");
    
}

#fig02{
    background-image: url("/imagens/macacao/macacao2.webp");
        
}

#fig02:hover{
    background-image: url("/imagens/macacao/macacao2-2.webp");
    
}

#fig03{
    background-image: url("/imagens/macacao/macacao3.webp");
    
}

#fig03:hover{
    background-image: url("/imagens/macacao/macacao3-2.webp");

}

#fig04{
    background-image: url("/imagens/macacao/macacao4.webp");
    
}

#fig04:hover{
    background-image: url("/imagens/macacao/macacao4-2.webp");

}
#fig05{
    background-image: url("/imagens/macacao/macacao5.jpg");
    
}

#fig05:hover{
    background-image: url("/imagens/macacao/macacao5.2.jpg");

}

#fig06{
    background-image: url("/imagens/macacao/macacao6.jpg");
    
}

#fig06:hover{
    background-image: url("/imagens/macacao/macacao6-2.webp");

}

#fig07{
    background-image: url("/imagens/macacao/macacao7.jpg");
    
}

#fig07:hover{
    background-image: url("/imagens/macacao/macacao7-2.jpg");
 
}

#fig08{
    background-image: url("/imagens/macacao/macacao8.jpg");
    
}

#fig08:hover{
    background-image: url("/imagens/macacao/macacao8-2.jpg");

}

#fig09{
    background-image: url("/imagens/macacao/macacao9.jpg");
    
}

#fig09:hover{
    background-image: url("/imagens/macacao/macacao9-2.jpg");

}

#fig10{
    background-image: url("/imagens/macacao/macacao10.webp");
    
    
}

#fig10:hover{
    background-image: url("/imagens/macacao/macacao10-2.webp");
    
}

