* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

figure {
    border-radius: 15%;
    background-size: cover;
}
#fig01{
    background-image: url("/imagens/casacos/casaco1.jpg");    
    
}

#fig01:hover{
    background-image: url("/imagens/casacos/casaco1-2.jpg");
    
}

#fig02{
    background-image: url("/imagens/casacos/casaco2.webp");
        
}

#fig02:hover{
    background-image: url("/imagens/casacos/casaco2-2.webp");
    
}

#fig03{
    background-image: url("/imagens/casacos/casaco3.webp");
    
}

#fig03:hover{
    background-image: url("/imagens/casacos/casaco3-2.webp");

}

#fig04{
    background-image: url("/imagens/casacos/casaco4.webp");
    
}

#fig04:hover{
    background-image: url("/imagens/casacos/casaco4-2.webp");

}
#fig05{
    background-image: url("/imagens/casacos/casaco5.jpg");
    
}

#fig05:hover{
    background-image: url("/imagens/casacos/casaco5-2.jpg");

}

#fig06{
    background-image: url("/imagens/casacos/casaco6.webp");
    
}

#fig06:hover{
    background-image: url("/imagens/casacos/casaco6-2.webp");

}

#fig07{
    background-image: url("/imagens/casacos/casaco7.jpg");
    
}

#fig07:hover{
    background-image: url("/imagens/casacos/casaco7-2.jpg");
 
}

#fig08{
    background-image: url("/imagens/casacos/casaco8.webp");
    
}

#fig08:hover{
    background-image: url("/imagens/casacos/casaco8-2.jpg");

}

#fig09{
    background-image: url("/imagens/casacos/casaco9.jpg");
    
}

#fig09:hover{
    background-image: url("/imagens/casacos/casaco9-2.jpg");

}

#fig10{
    background-image: url("/imagens/casacos/casaco10.jpg");
    
    
}

#fig10:hover{
    background-image: url("/imagens/casacos/casaco10-2.jpg");
    
}




