
*{
    font-family: 'Roboto', sans-serif;
    font-size:small;
    margin: 0;
    padding: 0;
}
/* header*/

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
header#cabecalho{
    display: inline-flex;
    height: 80px;
    background-color: rgb(249, 242, 238);
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;

}

header img {
    align-content: center;
    height: 80%;
    padding: 5px 50px;

}


ul.alinhado{
    display: flex;
    gap: 5rem;
    align-items:first baseline;
    padding: 5px 50px;
}


main.conteudo{
    display: flex;
    justify-content:center;
    height: 60rem;
    margin: 0 10rem;
}

@media (max-width: 1000px) {
    main.conteudo{
        margin: 0 auto;
    }
}

span#burguer {
    display: none;
    width: 6%;
    height: 1.5em;
    background-color: rgb(248, 192, 96);
    color: black;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

@media (max-width: 1000px) {
    span#burguer {
        display: block;
    }
}



span#burguer:hover {
    background-color: white;
    color: black;
}

aside{
    display: flex;
    height: 100%;
    width: 150px;
    justify-items: center;
    
}

ul.lista_links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 1.4% 0;
    width: 100%;
}

@media (max-width: 1000px) {
    aside, ul.lista_links{
        display: none;
    }
}


button.btn_link{
    appearance:button;
    padding: 5px 10px;
    width: 150px;
    border-radius: 30%;
    background-color: white;
    color: black;
}




.corpo{
    display: flex;
    flex-direction:column;
    width: 80%;
    height: 100%;
    padding: 0 20px;

}



h1{
    font-family: 'Dancing Script', cursiva;
    color: orangered;
    font-size:  5em;
    text-align: center;
    width: 70%;
    padding: 1rem;
  }


li{
    list-style: none;
    text-align: center;
 }

a{
    text-decoration: none;
    
}

div.image_top{
    display:flex;
    height: 200px;
    padding: 0;
}


section.rodape{
    display: flex;
    align-items: center;
   
}

ul.padrao{
    display: flex;
    justify-content:space-around;
    align-items:first baseline;
    background-color: rgb(225, 196, 160);
    padding: 1rem;

}
nav.rodape{
    width: 100%;
    height: auto;
}

div#foto{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

div#foto img{
    display: flex;
    justify-items: center;
    width: 80%;
}

.contato{
    display: flex;
    background-color: rgb(249, 242, 238);
    width: 120vh;
    height: 580px;
    align-items: center;
    justify-items: center;
}

div.principal{
    display: flex;
    width: 100%;
    height: 580px;
    align-items: center;
    background-image: url(/imagens/istockphoto-1321195792-1100x580.jpg);
    background-size: cover;
}

div.texto_sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    justify-content: center;
    height: 95%;
    width: 100%;
}

.texto_sobre p{
    width: 70%;
    padding: 1rem;
}

div.formulario {
    background-color: rgba(247, 245, 242, 0.315);
    height: 95%;
    justify-content: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}


form.form_contato{
    width: 70%;
    display: flex;
    flex-direction: column;
}

form input, textarea{
    border-radius: 10px;
}

form input{
    height: 30px;
}

.botao{
    width: 90px;
    color: blueviolet;
}

form label{
    font-weight: bold;
    font-size:medium;
}

main.mlogin{
    height: 800px;
}

section.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login form{
    display: flex;
    flex-direction: column;
}

.mb-3{
    align-items: space-between;
    padding: 1rem;
}

