* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

figure {
    border-radius: 15%;
    background-size: cover;
}
#fig01{
    background-image: url("/imagens/saias/saia1.jpg");    
    
}

#fig01:hover{
    background-image: url("/imagens/saias/saia1-2.jpg");
    
}

#fig02{
    background-image: url("/imagens/saias/saia2.png");
        
}

#fig02:hover{
    background-image: url("/imagens/saias/saia2-2.png");
    
}

#fig03{
    background-image: url("/imagens/saias/saia3-2.jpg");
    
}

#fig03:hover{
    background-image: url("/imagens/saias/saia3.jpg");

}

#fig04{
    background-image: url("/imagens/saias/saia4.jpg");
    
}

#fig04:hover{
    background-image: url("/imagens/saias/saia4-2.jpg");

}
#fig05{
    background-image: url("/imagens/saias/saia5.webp");
    
}

#fig05:hover{
    background-image: url("/imagens/saias/saia5-2.png");

}

#fig06{
    background-image: url("/imagens/saias/saia6.png");
    
}

#fig06:hover{
    background-image: url("/imagens/saias/saia6-2.png");

}

#fig07{
    background-image: url("/imagens/saias/saia7.webp");
    
}

#fig07:hover{
    background-image: url("/imagens/saias/saia7-2.webp");
 
}

#fig08{
    background-image: url("/imagens/saias/saia8.webp");
    
}

#fig08:hover{
    background-image: url("/imagens/saias/saia8-2.webp");

}

#fig09{
    background-image: url("/imagens/saias/saia9.webp");
    
}

#fig09:hover{
    background-image: url("/imagens/saias/saia9-2.webp");

}

#fig10{
    background-image: url("/imagens/saias/saia10.webp");
    
    
}

#fig10:hover{
    background-image: url("/imagens/saias/saia10-2.webp");
    
}
