
*{
    font-family: 'Roboto', sans-serif;
    font-size:small;
    margin: 0;
    padding: 0;
}
/* header*/

body{
    display: flex;
    flex-direction: column;

}
header#cabecalho{
    display: flex;
    height: 5vw;
    background-color: rgb(249, 242, 238);
    justify-content: center;

}

#topo{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 80%;
}

div#logo img{
    display: flex;
    width: 100%;
    height: 70px;
}

ul.alinhado{
    display: flex;
    gap: 1rem;
    align-items:first baseline;
}

aside{
    display: flex;
    height: 100%;
    width: 250px;
    justify-items: center;
    
}

ul.lista_links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 1% 0;
    width: 100%;
}

button.btn_link{
    appearance:button;
    padding: 5px 10px;
    width: 150px;
    border-radius: 30%;
    background-color: white;
    color: black;
}


main.conteudo{
    display: flex;
    padding: 0% 5%;

}

.corpo{
    display: flex;
    flex-direction:column;
    width: 80%;
    height: 100%;

}



h1{
    font-family: 'Dancing Script', cursiva;
    color: orangered;
    font-size:  5em;
    text-align: center;
    width: 70%;
    padding: 1rem;
  }


li{
    list-style: none;
    text-align: center;
 }

a{
    text-decoration: none;
    
}

div.image_top{
    display:flex;
    height: 200px;
    padding: 0;
}


section.rodape{
    display: flex;
    align-items: center;
   
}

ul.padrao{
    display: flex;
    justify-content:space-around;
    align-items:first baseline;
    background-color: rgb(225, 196, 160);
    padding: 1rem;

}
nav.rodape{
    width: 100%;
    height: auto;
}

div#foto{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

div#foto img{
    display: flex;
    justify-items: center;
    width: 80%;
}

.contato{
    display: flex;
    background-color: rgb(249, 242, 238);
    width: 120vh;
    height: 580px;
    align-items: center;
    justify-items: center;
}

div.principal{
    display: flex;
    width: 100%;
    height: 580px;
    align-items: center;
    background-image: url(/imagens/istockphoto-1321195792-1100x580.jpg);
    background-position: center;
    background-size: cover;
}

div.texto_sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    justify-content: center;
    height: 95%;
    width: 100%;
}

.texto_sobre p{
    width: 70%;
    padding: 1rem;
}

div.formulario {
    background-color: rgba(247, 245, 242, 0.315);
    height: 95%;
    justify-content: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}


form.form_contato{
    width: 70%;
    display: flex;
    flex-direction: column;
}

form input, textarea{
    border-radius: 10px;
}

form input{
    height: 30px;
}

.botao{
    width: 90px;
    color: blueviolet;
}

form label{
    font-weight: bold;
    font-size:medium;
}

main.mlogin{
    height: 800px;
}

section.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login form{
    display: flex;
    flex-direction: column;
}

.mb-3{
    align-items: space-between;
    padding: 1rem;
}

