
*{
    font-family: 'Roboto', sans-serif;
    font-size:small;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header*/


#carrinho{
    display: flex;
    flex-direction: column;
    height: min-content;
    width: 90%;
    border-radius: 10px;

}

#topo-carrinho{
    display: flex;
    padding: 20px;


}

#topo-carrinho {
    display: flex;
    justify-content:space-around ;
    align-items: center;
}
#topo-carrinho h3{
    font-size: 16pt;
}
#voltar{
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height: 50%;
    font-size: 14pt;
    transition: .4s;
    border: 2px solid #f3e6fb;
    background-color: #f3e6fb;
}

#voltar:hover{
    color: white;
    background-color: blueviolet;

}

#lista-compra{
    display: flex;
    flex-direction: row;
}

.item{
    width: 75%;
}

#produtos{
    display: flex;
    flex-direction: column;

}
#produtos li{
    display: flex;
    gap: 5%;
    

}
#resumo{
    width: 25%;
    height: min-content;
}
.scroll {
    display: flex;
    overflow-x: auto;
    width: 80%;
    

}


