body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
margin: 0 auto;
width: 800px;
height: 400px;
overflow: hidden;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slider input{
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 800px;
}

.manual-navegation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
border: 2px solid #fff;
padding: 5px;
border-radius: 10px;
cursor: pointer;
transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: rgb(221, 76, 240);
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -30%;
}

#radio4:checked ~ .first{
    margin-left: -40%;
}

#radio5:checked ~ .first{
    margin-left: -50%;
}

#radio6:checked ~ .first{
    margin-left: -55%;
}

#radio7:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid #f006ec;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px; 
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #f006ec;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #f006ec;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #f006ec;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #f006ec;
}

#radio5:checked ~ .navigation-auto .auto-btn5{
    background-color: #f006ec;
}

#radio6:checked ~ .navigation-auto .auto-btn6{
    background-color: #f006ec;
}

#radio7:checked ~ .navigation-auto .auto-btn7{
    background-color: #f006ec;
}

