
*{
    font-family: 'Roboto', sans-serif;
    font-size:small;
    margin: 0;
    padding: 0;
}
/* header*/

body{
    display: flex;
    flex-direction: column;

}
header#cabecalho{
    display: flex;
}

#topo{
    display: flex;
    background-color: rgb(249, 242, 238);
    align-items: center;
    justify-content:space-between;
    padding: 2.5rem;
    height: 20px;
    width: 100%;
}

div#logo img{
    display: flex;
    width: 100px;
    height: 80px;
    padding-left: 3.5rem;
}

ul.alinhado{
    display: flex;
    gap: 1rem;
    align-items:first baseline;
    padding-inline: 2rem;
}

aside{
    display: flex;
    height: 100%;
    width: 250px;
    justify-items: center;
    
}

ul.lista_links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

main.conteudo{
    display: flex;
    max-width: 1900px;
    min-width: 568px;
    max-height: 880px;
    min-height: 580px;
}

.corpo{
    display: flex;
    flex-direction:column;
    width: 100%;
    height: 100%;

}



h1{
    font-family: 'Dancing Script', cursiva;
    color: orangered;
    font-size:  5em;
    text-align: center;
    width: 70%;
    padding: 1rem;
  }


li{
    list-style: none;
    text-align: center;
 }

a{
    text-decoration: none;
    
}

div.item{
    display:inline-block;
    align-items:space-around;
    width: 300px;
}

div.img_item img{
    flex-direction: column;
    justify-items:center;
    width: 100%;
    
}

div.image_top{
    display:flex;
    height: 200px;
    padding: 0;
}


section.rodape{
    display: flex;
    align-items: center;
   
}

ul.padrao{
    display: flex;
    justify-content:space-around;
    align-items:first baseline;
    background-color: rgb(225, 196, 160);
    padding: 1rem;

}
nav.rodape{
    width: 100%;
    height: auto;
}

div#foto{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

div#foto img{
    display: flex;
    justify-items: center;
    width: 80%;
}

.contato{
    display: flex;
    background-color: rgb(249, 242, 238);
    width: 1650px;
    height: 580px;
    align-items: center;
}

div.principal{
    display: flex;
    height: 580px;
    align-items: center;
    background-image: url(./imagens/istockphoto-1321195792-1100x580.jpg);
    background-position: center;
}

div.texto_sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    justify-content: center;
    height: 95%;
    width: 100%;
}

.texto_sobre p{
    width: 70%;
    padding: 1rem;
}

div.formulario {
    background-color: rgba(247, 245, 242, 0.315);
    height: 95%;
    justify-content: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}


form.form_contato{
    width: 70%;
    display: flex;
    flex-direction: column;
}

form input, textarea{
    border-radius: 10px;
}

form input{
    height: 30px;
}

.botao{
    width: 90px;
    color: blueviolet;
}

form label{
    font-weight: bold;
    font-size:medium;
}

main.mlogin{
    height: 800px;
}

section.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login form{
    display: flex;
    flex-direction: column;
}

.mb-3{
    align-items: space-between;
    padding: 1rem;
}

.container{
    display: flex;
    width: 100%;
}

div.produtos{
    flex-direction: column;
    width: 20%;
    height: 40%;
}