
*{
    font-family: 'Roboto', sans-serif;
    font-size:small;
    margin: 0;
    padding: 0;
}
/* header*/

body{
    height: 700px;
}
header#cabecalho{
    display: flex;
    margin: auto;

}

#topo{
    display: flex;
    background-color: rgb(249, 242, 238);
    align-items: center;
    justify-content:space-between;
    padding: 2.5rem;
    height: 20px;
    width: 100%;
}

div#logo img{
    width: 100px;
    height: 80px;
    padding-left: 3.5rem;
}

ul.alinhado{
    display: flex;
    gap: 1rem;
    align-items:first baseline;
    padding-inline: 2rem;
}

aside{
    display: flex;
    height: 100%;
    width: 250px;
    justify-items: center;
    padding: 10px 0 10px 0;
    
}

ul.lista_links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

main.conteudo{
    display: flex;
    height: 650px;
}

div.corpo{
    display: flex;
    flex-direction:column;
    width: 100%;

}

div.item{
    display:inline-block;
    align-items:space-around;
    width: 200px;
    height:fit-content;

}



h1{
    font-family: 'Dancing Script', cursiva;
    color: orangered;
    font-size:xx-large;
    text-align: center;
    width: 70%;
  }


li{
    list-style: none;
    text-align: center;
 }

a{
    text-decoration: none;
  }

div.item img{
    display: flex;
    justify-items: space-around;
    width: 200px;
}

div.img_item{
    display: flex;
    width: 200px;
    height: 150px;
    
}

div.image_top{
    display: inline-flex;
    height: 30%;
    padding: 0;
}


section.rodape{
    display: flex;
    align-items: center;
   
}

ul.padrao{
    display: flex;
    justify-content:space-around;
    align-items:first baseline;
    background-color: rgb(225, 196, 160);
    padding: 1rem;

}
nav.rodape{
    width: 100%;
    height: auto;
}

div#foto{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#foto img{
    display: flex;
    justify-content: flex-start;
    height: 350px;
    
}

.contato{
    display: flex;
    height: 100%;
    background-color: rgb(249, 242, 238);
}

div.texto_sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    justify-content: center;
    width: 70%;
}

.texto_sobre p{
    padding: 1rem;
}

div.formulario {
    background-color: rgba(247, 245, 242, 0.315);
    height: 95%;
    justify-content: center;
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
}

form{
    width: 70%;
    display: flex;
    flex-direction: column;
}

form input, textarea{
    border-radius: 10px;
}

.botao{
    width: 50px;
}
form label{
    font-weight: bold;
}
